.cell {
    background-color: lightsteelblue;
    width: 10px;
    margin: .5px;
}

.row {
    display: flex;
    height: 10px;
}

#host {
    text-align: center;
    color: white;
}

html body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.score {
    color: aqua;
    padding: 10px;
}

.field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.snakeBody {
    background-color: chartreuse;
}

.food {
    /* background-color: darkviolet; */
    /* transition-delay: 500; */
    animation: blink .7s linear infinite
}

.snakeHead {
    background-color: crimson;
}

@keyframes blink {
    0% {
        background-color: darkviolet;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: darkviolet;
    }
}
