.cell {
    background-color: grey;
    width: 10px;
}

#host {
    transform: translate(25%, 25%);
}

.row {
    display: flex;
    height: 10px;
}

html body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.bg-white {
    background-color: white;
}
